.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .title {
    display: block;
    margin: 0 auto 14.77%;
    text-transform: capitalize;
  }

  .titleMod {
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.positionFormMod {
  align-items: center;
}

.link {
  display: flex;
  justify-content: end;
  width: 100%;
  margin: 1.75% 0 0;

  > a {
    display: flex;
    justify-content: end;

    padding: 0;

    font-weight: 400;
    color: var(--color-light-100);
  }
}

.checkEmail {
  width: 96px;
  height: 96px;
  margin: 0 auto 19px;
}

.blockPersonalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar {
    width: 100%;
    max-width: 96px;
    margin: 0 0 6px;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    > div.iconName {
      bottom: 0;
      transform: translateX(4px);

      width: 24px;
      height: 24px;
      padding: 4px;

      background: var(--color-dark-300);
      border-radius: 4px;
    }
  }

  .name,
  .avatar {
    cursor: pointer;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    .iconName {
      position: absolute;
      right: 0;

      width: 16px;
      height: 16px;
      margin: 0 0 0 9px;
    }
  }
}

.submitBtn {
  margin: 17.4% 0 0;
}

.submitBtnMarginMod {
  margin: 13px 0 0;
}

.logOut {
  display: flex;
  align-items: center;
  width: 20px;
  margin: 0 10px 0 0;
}

.description {
  color: var(--color-light-900);
  opacity: 0.5;
}

.positionMod {
  text-align: center;
}

.redirect {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 5.61% auto 1.97%;

  line-height: var(--line-height-24);

  > p {
    color: var(--color-light-900);
  }

  > a {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary-500);
  }
}
