.containerErrorRoute {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  > img {
    margin: 12.6% 0 4.167%;
  }

  > a {
    margin: 2.778% 0 0;
  }
}
