:root {
  --margin-top-30: 8.513% 0 0;
  --margin-top-11: 3.1882% 0 0;
}

.containerAnswerLEarn {
  display: flex;
  flex-direction: column;
  justify-content: start;

  width: 100%;
  margin: var(--margin-top-11);
}

.textAnswer {
  display: flex;
}

.imgAnswer {
  max-width: 350px;
  height: 120px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: var(--margin-top-30);
}

.nextBtn {
  margin: 8.379% 0 0;
}
