.filters {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 0.298% 0 3.573%;

  .search {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 299px;
    margin: 0 24px 0 0;

    .filterIcon {
      cursor: pointer;
      display: none;
      margin: 0 0 0 24px;
    }
  }

  .mobile {
    width: 100%;
    height: 100%;
  }

  .mobileActive {
    display: none;
  }

  .containerFilters {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: start;

    .blockMenuFilters {
      display: none;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      margin: 0 0 22px;

      .iconClose {
        width: 24px;
        height: 24px;
        padding: 5px;
      }
    }
  }

  .tab {
    display: inline-flex;
    flex-direction: column;
    min-width: 116px;

    //max-width: 229px;
    margin: 0 5px 0 0;

    //.iconLikeActive svg path {
    //  fill: var(--color-danger-500);
    //  stroke: var(--color-danger-500);
    //}
  }

  .slider {
    width: 100%;
    max-width: 251px;
    margin: 0 5px 0 0;
  }

  .deleteBtn {
    position: relative;
    min-width: 83px;
    padding-left: min(10%, 44px);

    .deleteIcon {
      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      justify-content: start;

      width: 100%;
      height: 100%;
      padding: 0 10px 0 15%;
    }
  }

  @media (max-width: $viewportLaptopBig) {
    flex-direction: column;
    align-items: start;
    width: 100%;

    .search {
      max-width: 100%;
      margin: 26px 0 20px;
    }

    .filters {
      justify-content: start;
    }
  }

  @media (max-width: $viewportMobile) {
    .search .filterIcon {
      display: flex;
    }

    .mobile {
      position: fixed;
      z-index: 101;
      top: 0;
      right: -100%;

      align-items: end;
      justify-content: end;

      width: 100%;
      height: 100%;

      background: transparent;

      transition:
        right 0.4s ease 0.3s,
        background 0.3s ease;

      .containerFilters {
        flex-direction: column;
        align-items: end;

        width: 100%;
        max-width: 266px;
        height: 100%;
        margin: 0 0 0 auto;
        padding: 21px 16px;

        background: var(--color-dark-500);

        .blockMenuFilters {
          display: flex;
        }

        .deleteBtn {
          width: 87%;
        }
      }
    }

    .mobileActive {
      right: 0;
      display: flex;
      background: var(--color-dark-900-opasity-7);
      transition:
        right 0.4s ease,
        background 0.3s ease 0.3s;
    }

    .tab {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }

    .slider {
      width: 100%;
      max-width: 100%;
      margin: 4.888% 0 6.17%;
    }
  }
}
