.error {
  color: var(--color-danger-700);
}

.container {
  border-collapse: collapse;

  width: 100%;

  font-style: var(--font-size-14);
  text-transform: capitalize;

  border: 1px solid var(--color-dark-500);
}

.header {
  text-align: left;
  background-color: var(--color-dark-500);

  .caption {
    display: flex;
    align-items: center;

    .sort {
      cursor: pointer;

      transform: translateY(0);

      width: 12px;
      height: 12px;
      margin: 0 4px;

      transition: transform 0.3s ease-in-out 0s;
    }

    .isSort {
      transform: rotateX(180deg) translateY(-2px);
      transition: transform 0.3s ease-in-out 0s;
    }
  }

  .isCaption {
    cursor: pointer;
  }
}

.header,
.row {
  min-width: 137px;
  padding: 6px 24px;
}

.row {
  border-bottom: 1px solid var(--color-dark-500);

  .item {
    display: flex;
    align-items: center;
    justify-content: start;

    .img {
      display: inline-flex;

      //max-width: 118px;
      //height: 100%;
      //max-height: 48px;
      width: 118px;
      height: 48px;
      margin: 0 10px 0 0;

      > img {
        width: 100%;
        height: 100%;

        //max-width: 118px;
        //height: 100%;
        //max-height: 48px;
        object-fit: cover;
      }
    }

    .elements {
      display: flex;
      height: 16px;
      margin: 0 -5px;

      .element {
        cursor: pointer;
        margin: 0 5px;
      }
    }
  }
}
