.left {
  margin: 0 auto 0 0;
}

.right {
  margin: 0 0 0 auto;
}

.h1 {
  font-size: var(--font-size-26);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-36);
}

.h2 {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-36);
}

.h3 {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-24);
}

.h4 {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-24);
}

.body1 {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-24);
}

.body2 {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-24);
}

.subtitle1 {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-24);
}

.subtitle2 {
  padding: 0 var(--margin-gorizontal);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-24);
}

.caption1 {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-16);
}

.overline {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-16);
}

div .link1 {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-24);
  color: var(--color-info-500);
  text-decoration: underline;
}

div .link2 {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-16);
  color: var(--color-info-500);
  text-decoration: underline;
}

.dark {
  color: var(--color-dark-100);
}

.light {
  color: var(--color-light-100);
}
