.containerLogo {
  display: flex;
  justify-content: center;
  max-width: 156px;
  margin: 5px 0;

  .logoMini {
    display: none;
  }
}

@media (max-width: $viewportMobile) {
  .logo {
    display: none;
  }

  .containerLogo .logoMini {
    display: flex;
  }
}
