/* reset */
button {
  all: unset;
}

.triggerBlock {
  display: flex;
  align-items: center;

  .titleTrigger {
    border-bottom: 1px dashed var(--color-light-100);
  }

  .triggerAvatar {
    width: 36px;
    height: 36px;
    margin: 0 0 0 14px;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.content {
  position: relative;
  z-index: 10;

  padding: 12px;

  background: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;

  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  .item {
    cursor: pointer;

    display: flex;
    align-items: center;

    font-size: var(--font-size-12);
    line-height: var(--line-height-16);

    border-bottom: 1px solid var(--color-dark-500);

    &:first-child .block {
      padding-top: 0;
    }

    &:last-of-type,
    &:last-of-type .block {
      padding-bottom: 0;
      border-bottom: none;
    }

    .block {
      all: unset;

      position: relative;

      display: flex;
      align-items: center;

      width: 100%;
      padding: 12px 0;
    }

    .avatarBlock {
      width: 36px;
      height: 36px;
      margin: 0 8px 0 0;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .iconSlot {
      cursor: pointer;
      width: 16px;
      height: 16px;
      margin: 0 9px 0 0;
    }

    .avatar {
      cursor: pointer;
      width: 37px;
      height: 37px;
      margin: 0 9px 0 0;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .textBlock {
      cursor: pointer;
      display: flex;
      flex-direction: column;

      .text::first-letter {
        text-transform: uppercase;
      }

      .element,
      .element > label {
        cursor: pointer;

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        > button {
          width: 100%;
          height: 100%;
          padding: 0;
        }
      }
    }

    &:hover .text {
      color: var(--color-primary-500);
      transition: 0.5s ease 0.3s;
    }
  }

  .menuArrow {
    filter: drop-shadow(0 1px 0 var(--color-dark-500));
    fill: var(--color-dark-700);
  }
}

@keyframes slide-up-and-fade {
  from {
    transform: translateY(2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right-and-fade {
  from {
    transform: translateX(-2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-down-and-fade {
  from {
    transform: translateY(-2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left-and-fade {
  from {
    transform: translateX(2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.content[data-side='top'] {
  animation-name: slide-down-and-fade;
}

.content[data-side='right'] {
  animation-name: slide-left-and-fade;
}

.content[data-side='bottom'] {
  animation-name: slide-up-and-fade;
}

.content[data-side='left'] {
  animation-name: slide-right-and-fade;
}
