.containerTitle {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blockItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;

  .settingBlock {
    display: flex;
    align-items: center;
    margin: 0 auto 0 0;

    .settingItem {
      margin: 0 9px;
    }
  }

  .nameTitle {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: start;
  }

  .description {
    margin: 6.846% 0 2.977%;
    color: var(--color-dark-100);
  }
}

.modBlock {
  flex-direction: column;
  width: 100%;
}

.imageTitle {
  cursor: pointer;

  width: 100%;
  max-width: 170px;
  height: 107px;
  margin: 15px 0 0;
}

.cardRemover {
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}
