.deck {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.49% 0 1.191%;

  .search {
    max-width: 299px;
  }

  .tab {
    max-width: 229px;
  }

  .slider {
    max-width: 251px;
  }

  .search,
  .tab,
  .slider {
    width: 100%;
  }
}

.table {
  display: flex;
  width: 100%;
}
