.deck {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filters {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 0.298% 0 3.573%;

  .search {
    max-width: 299px;
  }

  .tab {
    width: 100%;
    max-width: 229px;
    margin: 0 5px;
  }

  .slider {
    max-width: 251px;
  }

  .search,
  .tab,
  .slider {
    width: 100%;
  }
}

.deleteBtn {
  position: relative;
  padding-left: min(10%, 44px);

  .deleteIcon {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: start;

    width: 100%;
    height: 100%;
    padding: 0 10px 0 15%;
  }
}

.table {
  display: flex;
  width: 100%;
}
