.button {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 6px 2.53%;

  border-radius: 4px;

  > svg {
    display: flex;
    align-items: center;

    min-width: 13px;
    max-width: 13px;
    min-height: 13px;
    max-height: 13px;
    margin: 0 2.5px;
  }

  > p {
    margin: 0 var(--margin-gorizontal);
  }
}

/* ------------------------------------------------------------------ */
.primary {
  @include button-styles(
    var(--color-primary-500),
    var(--color-primary-sw),
    var(--color-primary-700),
    var(--color-primary-300),
    var(--color-primary-900)
  );

  display: flex;

  font-size: var(--font-size-14);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-24);
  text-transform: capitalize;

  box-shadow: 0 4px 18px 0 #8c61ff59;
}

/* ---------------------------------------------------------------------------- */
.secondary {
  @include button-styles(
    var(--color-dark-300),
    var(--color-dark-sw),
    var(--color-dark-500),
    var(--color-dark-100),
    var(--color-dark-300)
  );

  box-shadow: 0 2px 10px 0 #6d6d6d40;
}

/* ------------------------------------------------------------------- */
.tertiary {
  @include button-styles(
    '',
    '',
    var(--color-dark-500),
    var(--color-primary-900),
    var(--color-primary-900)
  );

  color: var(--color-primary-500);
  border: 1px solid var(--color-primary-500);
}

/* ------------------------------ */
.link {
  @include button-styles('', '', '', '', var(--color-primary-900));

  display: flex;
  color: var(--color-primary-500);

  &:focus-visible {
    border-radius: 130px;
  }

  &:active {
    color: var(--color-primary-700);
  }

  &:hover {
    color: var(--color-primary-300);
  }
}

.fullWidth {
  width: 100%;
}
