.blockPersonalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -9px 0 0;

  .avatarBlock {
    cursor: pointer;

    position: relative;

    display: flex;
    align-items: center;

    width: 96px;
    height: 96px;
    margin: 0 0 6px;

    .avatar {
      width: 100%;
      height: 100%;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .editAvatar {
      cursor: pointer;

      position: absolute;
      right: 0;
      bottom: 0;
      transform: translateX(4px);

      width: 24px;
      height: 24px;

      background: var(--color-dark-300);
      border-radius: 4px;

      transition: background 0.4s ease;

      &:hover {
        background: var(--color-dark-100);
        transition: all 0.4s ease;
      }

      .editInput {
        display: none;
      }
    }

    .fullScreenAvatar {
      > img,
      > div > svg {
        position: absolute;
        z-index: 10;
        inset: 0;

        width: 100%;
        height: 100%;

        object-fit: contain;
        background: var(--color-dark-transparent);
        border-radius: 0;

        animation: full-screen-avatar 1s forwards;
      }
    }
  }

  .name {
    cursor: pointer;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 0 25px;

    .iconEditName {
      position: absolute;
      inset: 0;

      display: flex;
      align-items: center;
      justify-content: end;

      width: 100%;
      height: 100%;

      > svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

@keyframes full-screen-avatar {
  0% {
    position: fixed;
    top: 25%;
    left: 25%;
    transform: translate(110%, 100%);

    width: 10%;
    height: 10%;
  }

  100% {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
  }
}
