.container {
  position: relative;
  display: flex;
  justify-content: center;
}

.blockCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 420px;
  padding: min(3.68%, 33px) min(4.02%, 36px) min(2.79%, 25px);

  background: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  box-shadow: 1px 1px 2px 0 var(--color-dark-900);
}
